{% extends "dashboard/_layout.html" %}

{% block sidebar_subtitle %}بوابة حساب الإنترنت{% endblock %}
{% block user_initial %}{{ beneficiary_full_name[0] if beneficiary_full_name else 'م' }}{% endblock %}
{% block user_name %}{{ beneficiary_full_name | default('مشترك') }}{% endblock %}
{% block user_role %}مشترك حساب إنترنت{% endblock %}

{% block crumbs %}
  <span>بوابة المشترك</span>
  <i class="fa-solid fa-chevron-left"></i>
  <span>حساب الإنترنت</span>
  <i class="fa-solid fa-chevron-left"></i>
  <span>{{ self.page_title() }}</span>
{% endblock %}

{% block sidebar_nav %}{% include "portal/_account_sidebar.html" %}{% endblock %}
